@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");

}


:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-gray: #EEEEEE;
  --basic-green: #00CA74;
  --basic-yellow: #EFC84A;

  --hover-red: #E74246;
  --hover-green: #00BC6C;
  --hover-yellow: #EAB534;

  --active-red: #D7373B;
  --active-green: #00AA62;
  --active-yellow: #E5A722;

  --text-black: #283136;
  --text-gray: #666666;
  --text-black-footer: #444444;

  --scale-gray: #D7DCDF;
  --toggle-gray: #ABABAB;

  --catalog-button-hover: #DFDFDF;
  --catalog-button-active: #D5D5D5;


  --current-pagination-button-border: #DBDBDB;

}


/* Global */

.page {
  height: 100%;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-black);
}

.page-body {
  min-height: 100%;
  min-width: 1440px;
  align-content: start;
  position: relative;
}

.layout-positioner {
  width: 1160px;
  margin: 0 auto;
  background-color: inherit;
}

a {
  text-decoration: none;
}

.header {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
}

.display-none {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 50px;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button:active > .button-text {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* Header */

.main-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.current-navigation-item {
  border-bottom: 2px solid var(--basic-red);
}

/* header-logo */

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Navigation list */
.site-navigation-list {
  list-style: none;
  margin: 0;
  margin-left: 202px;
  padding: 0;
  width: 437px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation-item {
  display: block;
  color: var(--basic-black);
  margin-top: 75px;
  height: 45px;
  box-sizing: border-box;
}

.site-navigation-item:hover{
  color: var(--basic-red);
}

.site-navigation-item:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* User navigation */

.user-navigation {
  width: 112px;
  height: 45px;
  box-sizing: border-box;
  margin-top: 75px;
  margin-left: auto;
  position: relative;
}

.cart-link {
  display: block;
  color: var(--basic-black);
  color: inherit;
  height: 45px;
  padding-left: 38px;
}

.cart-link:hover {
  color: var(--basic-red);
}

.cart-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 0;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}








/* Main */



/* Features slider*/

.features-container {
  background-color: var(--basic-gray);
  width: 100%;
}

.features {
  position: relative;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 421px;
}

.features-slide-1 {
  background-image: url("../img/slide-phones.png");
}

.features-slide-2 {
  background-image: url("../img/slide-computers.png");
}

.features-slide-3 {
  background-image: url("../img/slide-gadgets.png");
}

.features-item {
  height: 431px;
  padding: 0;
}

.features-item-header {
  display: block;
  padding-top: 68px;
}

.features-item p {
  margin: 0;
  margin-top: 27px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.features-button {
  width: 240px;
  height: 50px;
  margin-top: 39px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Slider controls */
.features-slider-controls-list {
  position: absolute;
  top: 307px;
  left: 536px;

  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-control-button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control-button.current {
  background-image: url("../img/icon-slider-control-current.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* Services */



.services h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid var(--basic-gray);
}

.services-item {
  margin-top: 80px;
}


.services-item h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.button-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  margin-top: 31px;
  margin-bottom: 80px;
}

.button-services-app {
  background-color: var(--basic-green);
}

.button-services-app:hover {
  background-color: var(--hover-green);
}

.button-services-app:active {
  background-color: var(--active-green);
}

.button-services-presentations {
  background-color: var(--basic-yellow);
}

.button-services-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-services-presentations:active {
  background-color: var(--active-yellow);
}


/* About-us */

.about-us {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 39px;
  border-bottom: 2px solid var(--basic-gray);
}

.about-us-caption {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}


/* text container */
.about-us-text-container {
  width: 651px;
}

.about-us-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);

  margin: 0;
  margin-top: 34px;
}

.about-us-text-container p {
  margin: 0;
  margin-top: 32px;
}

.about-us-text-container b {
  display: block;
  margin-top: 40px;
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-left: 32px;
  margin-bottom: 73px;
}

.about-us-item {
  position: relative;
  margin-top: 24px;
}

.about-us-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -32px;
  top: 11px;
}

/* Table container */
.about-us-table-container {
  width: 360px;
  margin-left: auto;
}

.about-us img {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.about-us-table-container b {
  display: block;
  margin-top: 29px;
  text-align: center;
}

.about-us-table {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  border-collapse: collapse;
}



.about-us-table-numbers {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about-us-table-numbers td {
  width: 98px;
}



.about-us-table-percent {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
  vertical-align: text-top;
}

.about-us-table-text {
  line-height: 18px;
}



/* Partners */


.partners {
  height: 180px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: relative;
}

.partners a {
  display: block;
}

.partner-html {
  margin-left: 32px;
}

.partner-html::after {
  content: "";
  position: absolute;
  display: block;
  height: 52px;
  width: 2px;
  background-color: var(--basic-gray);
  top: 64px;
  left: 279px;
}

.partner-borodinsky {
  margin-left: 95px;
}

.partner-borodinsky::after {
  content: "";
  position: absolute;
  display: block;
  height: 52px;
  width: 2px;
  background-color: var(--basic-gray);
  top: 64px;
  left: 579px;
}

.partner-pink {
  margin-left: 104px;
}

.partner-pink::after {
  content: "";
  position: absolute;
  display: block;
  height: 52px;
  width: 2px;
  background-color: var(--basic-gray);
  top: 64px;
  left: 879px;
}

.partner-mishka {
  margin-left: 120px;
}

.partners img:hover {
  opacity: 0.2;
}

.partners img:active {
  opacity: 0.1;
}




/* Footer */

.main-footer {
  display: grid;
  margin-top: 60px;
}

.main-footer-map-layout-positioner {
  width: 1440px;
  margin: 0 auto;
  background-color: inherit;
}

/* Map */

.main-footer-map {
  width: inherit;
  height: 416px;
  position: relative;

  background-image: url("../img/main-footer-map.png");
  background-size: auto;
  background-position: 0 50%;
}

.map-widget {
  width: 100%;
  border: none;
}

/* Contacts */

.footer-contacts {
  color: var(--text-gray);
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  box-sizing: border-box;

  position: absolute;
  top: 55px;
  left: 140px;
  padding-top: 34px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;

  z-index: 10;
}


.footer-contacts-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
  margin-top: 5px;
}

.contacts-address {
  font-style: normal;
  line-height: 18px;
  margin-top: 20px;
}

.contacts-button {
  margin-top: 35px;
  width: 219px;
  cursor: pointer;
  border: none;
}



/* Footer social */

/* Social text */

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding-top: 68px;
  padding-bottom: 68px;
}

.footer-header {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--text-black-footer);
}

.footer-social-text {
  width: 660px;
  height: 68px;
  margin: auto auto auto 139px;
}

.footer-social-text p {
  margin: 0;
  margin-top: 10px;
}

/* Social icons */

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 261px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.social-icon:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-icon:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.social-icon:active svg {
  opacity: 0.3;
}


/* Modal */
.modal-wrapper {
  position: relative;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  z-index: 1000;

  padding-top: 62px;
  padding-right: 100px;
  padding-left: 99px;
  padding-bottom: 84px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal-header {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-label {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-top: 0;
}

.modal-contacts-info {
  margin-top: 36px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 358px;
}

.modal-item {
  display: flex;
  flex-direction: column;
}

.modal-item input {
  margin: 0;
  margin-top: 9px;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  box-sizing: border-box;
}



.modal-letter{
  height: 95px;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 47px;
  padding: 16px;
  border: none;
}

.modal-submit-button {
  width: 259px;
  border: none;
  cursor: pointer;
}

.modal-close-button {
  width: 21px;
  height: 21px;
  border: none;
  background-color: inherit;
  background-image: url("../img/botton-close.svg");
  opacity: 0.3;
  position: absolute;
  top: 78px;
  right: 99px;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 1;
  border: none;
}

.modal-close-button:active {
  opacity: 0.1;
  border: none;
}

.modal-visible {
  display: block;
}



/* Catalog */

.catalog-header {
  width: 100%;
  height: 232px;
  background-color: var(--basic-gray);
  margin: 0;
  padding: 0;
  padding-top: 67px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
  grid-template-rows: auto auto;
}

/* Catalog filter */
.catalog-filter {
  color: var(--text-black);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  grid-row: 1 / -1;
  grid-column: 1 / 2 ;

  margin-top: 55px;
}

.aside-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.catalog-caption,
.product-name {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-weight: 700;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Price filter */
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale-gray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--toggle-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--text-black);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
}

.price-controls {
  margin-top: 14px;
}

/* filter-item-layout */
.filter-item-layout {
margin-top: 54px;
}

.filter-option {
  padding-left: 36px;
  margin-top: 17px;
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label::before {
  position: absolute;
  left: -36px;
  top: -2px;
  content: "";
  width: 17px;
  height: 17px;
  border: 4px solid #4D4D4D;
  background-image: none;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-option:hover label::before {
  opacity: 1;
}

.inactive-filter-input {
  opacity: 0.1;
}

.inactive-filter-label {
  opacity: 0.3;
}

.filter-radio:checked + label::before {
  background-image: url("../img/decor-filter-item-layouts.svg");
  background-position: 4px 4px;
  background-repeat: no-repeat;
}

/* filter-conditions  */
.filter-item-conditions {
  margin-top: 27px;
}

.filter-option-conditions {
  padding-left: 36px;
  margin-top: 18px;
  margin-bottom: 21px;
}

.filter-option-conditions label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option-conditions label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/decor-filter-item-conditions-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-checkbox:checked + label::before {
  background-image: url("../img/decor-filter-item-conditions-on.svg");
}

/* Filter-button */

.filter-button {
  margin-top: 33px;
  width: 100%;
  height: 50px;
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: var(--catalog-button-hover);
}

.filter-button:active {
  background-color: var(--catalog-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filter-button:active > span {
  opacity: 0.3;
}



/* Catalog container */

.catalog-container {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}

/* Catalog sorting list */

.catalog-sorting-list {
  list-style: none;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  height: 18px;
  width: 360px;
}


.catalog-sorting-item {
  margin: 0;
  padding: 0;
  opacity: 0.3;
}

.catalog-sorting-item:hover {
  opacity: 0.6;
}

.catalog-sorting-item:active {
  opacity: 1;
}

.catalog-sorting-item:not(:first-child) {
  margin-left: 25px;
}

.catalog-sorting-item a {
  color: var(--basic-black);
}

.catalog-sorting-caption {
  margin-top: 55px;
}



.catalog-sorting-toggle {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  width: 40px;
  height: 10px;

  display: flex;
  justify-content: space-between;
}

.toggle-item {
  opacity: 0.3;
}

.toggle-item:hover {
  opacity: 0.6;
}

.toggle-item:active {
  opacity: 1;
}

.toggle-sort-ascending {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/decor-catalog-sorting-toggle.svg");
}

.toggle-sort-despending {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/decor-catalog-sorting-toggle.svg");
  transform: rotate(180deg);
}

.catalog-current-sorting {
  opacity: 1;
}

/* catalog list */

.catalog-list {
  list-style: none;

  margin-top: 30px;
  padding: 0;
  grid-column: 1 / -1;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 30px;
}

/* catalog-item */
.catalog-item {
  padding: 0;
  position: relative;
  display: block;
  height: 618px;
  width: 360px;
  border-radius: 5px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.catalog-item img {
  border-radius: 5px;
}


.cart-browser {
  height: 40px;
  width: 360px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  background-image: url("../img/decor-cart-browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover .cart-browser {
  opacity: 1;
}



.cart-product {
  background-color: var(--basic-gray);
  min-height: 231px;
  width: 100%;

  position: absolute;
  bottom: 0;

  display: none;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.catalog-item:hover .cart-product {
  display: flex;
}

.cart-product .product-name {
  margin: 26px;
  margin-bottom: 0;
}

.product-name:hover {
  color: var(--basic-red);
}

.product-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cart-product p {
  color: var(--text-gray);
  width: 255px;
  margin-top: 12px;
  margin-bottom: 0;
}

.cart-product > .button {
  width: 200px;
  margin-top: 33px;
}

/* Paginstion */
.pagination {
  margin: 0;
  margin-top: 45px;
  grid-column: 1 / -1;
  z-index: 1;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.pagination-button {
  margin-right: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
}

.pagination-button:hover {
  background-color: var(--catalog-button-hover);
}

.pagination-button:active {
  background-color: var(--catalog-button-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.pagination-button:active > .button-text {
  opacity: 0.3;
}

.pagination-button-current {
  width: 44px;
  height: 44px;
  border: 3px solid var(--current-pagination-button-border);
  background-color: var(--basic-white);
}

.pagination-button-current:hover {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--catalog-button-hover);
}

.pagination-button-current:active {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--catalog-button-active);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.pagination-button-current:active > .button-text {
  opacity: 0.3;
}

.pagination-button-next {
  width: 260px;
}


